/*푸터영역*/
footer {
	margin:0 auto;
    width: 100%;
    height:100%;
    border-top: 1px solid #B9CDE5;
    bottom: 0;
    
}

footer ul {
    width: 1200px;
    height: 100px;
    margin-top: 30px;   
}

footer>ul>li {
    font-size: 8pt;
    color: #17375E;
    float: left;
    margin-top: 20px;
}

footer>ul>li>img {
    margin-right: 100px;
}

* {
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

body,
html {
    background: #D6E1EF;
    min-width: 1200px;
    color: #22518A;
}