body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.box {
    width: 300px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 15px auto;
    text-align: center;
    transform: translate(-50%, -50%);
    background: #191919;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"] {
    border: 0;
    background: none;
    display: block;
    margin: 10px 40px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 5px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 5px;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box input[type="email"]:focus {
    width: 200px;
    border-color: #e74c3c;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 7px 20px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
}

a {
    color: #45aaf2;
    text-decoration: none;
}

.box1 {
    transform: translate(-50%, -50%);
}

.box1 span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 6x;
}

.s1 {
    background: #e74c3c;
    animation: s1 1s infinite;
}

.s2 {
    background: #3498db;
    animation: s2 1s infinite;
}

.s3 {
    background: #27ae60;
    animation: s3 1s infinite;
}

@keyframes s1 {
    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes s2 {
    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes s3 {
    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

