@charset "UTF-8";

*{
 	margin: 0 auto;
	list-style:none;
	padding:0;
}

body,html{
  background:#D6E1EF;
  min-width: 1200px;
}

a{
  color:inherit;
  text-decoration: none;
}

.clear{
  clear: both;
  position: inherit;
}

.all{
  width:100%;
  height:100px;
  background-color:#22518A;
}
.wrap{
  width:100%;
}


/*searchView*/
#search{
	width:1200px;
	margin-top:50px;
}

#search>h2{
	text-align:center;
	margin-bottom:50px;	
	margin-top:-50px;
}
#search_box{
	
	width:1200px;
	background:#fff;
	padding-left:50px;
}

.search_bar{
    width: 900px;
}

.search_bar tr th{width:200px; text-align: left;}
.search_bar tr td{width:500px; border: 0px; }
.search_bar tr td input[type=submit]{
    width: 80px;
    height:80px;
    background-color: #87CEEB;
	  color: white;
	  text-align: center;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
    -webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.search_bar tr td #cgno {width: 400px;}
.search_bar tr td input[type=text]{
    width: 400px;
}


.box ul li{float: left;}


.sview {
	background-color:#fff;
  	border-collapse: collapse;
  	width: 1200px;
	border:1px solid #e2e2e2;
    margin-left: -5px;
}

.sview tr th, td {
  padding: 7px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align:center;
  font-size: 11pt;
}


/*searchDetailView*/
#sdetail {width:1100px;}
#sdetail h2{margin: 20px 0;}
.sdecon{
    width:1100px;
    background: #fff;
    border-collapse: collapse;
}
.sdecon tr th{width: 300px; border: 1px solid #e2e2e2;padding:15px;}
.sdecon tr td{width: 900px; border: 1px solid #e2e2e2;padding:15px;}

#com_box{width: 1200px; margin-top:10px;background:#fff;}
.comm{width:1100px;height:150px; margin-left:50px;}
.comm ul li{float: left; margin-right: 10px;}
.comm ul li:last-child{margin-top:-8px;}
.comm_btn{width:100px;height: 60px;margin-top:-20px; }
#slist{
    height:50px;
    background: #fff; 
    margin-top:-10px; 
    border: 1px solid #e2e2e2;}

.slist_btn{
  width: 50px;
  background-color: #87CEEB;
  color: white;
  text-align: center;
  padding: 3px;
  margin: 9px 0 9px 570px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    -webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
    
   }
   
   
#write_btn{width:1200px;}
#write_btn li{float:left;}
#write_btn ul .page{width:1200px; margin-left:-86px;}
#write_btn ul .wrbtn a{
	float:right;
	border-radius:3px;
	margin-left:20px;
	background-color: #87CEEB;
	padding: 5px 7px;
	border: none;
	color: #fff;
	text-align: center;
	font-size: 15px;
	display: inline-block;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

#write_btn>a:hover{
	background-color: #4169E1;
	color: white;
}
